branca==0.8.2
customtkinter==5.2.2
docx==0.2.4
folium==0.20.0
matplotlib==3.10.8
mplcursors==0.7
numba==0.62.1
numpy==2.4.1
openpyxl==3.1.5
pandas==3.0.0
Pillow==12.1.0
pytest==8.4.2
pytest.egg==info
pywin32==311
reportlab==4.4.9
scipy==1.17.0
